body {
    background-color: #14143c;
}

section {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 1s;
}

.animate {
    opacity: 1;
    transform: translateX(0);
}

/* @media(prefers-reduced-motion) {
    section {
        transition: none;
    }
} */