section {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(20%);
    transition: all 1s;
}

.animate {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* @media(prefers-reduced-motion) {
    section {
        transition: none;
    }
} */